:root {
  --dark-green: #646d4e;
  --light-green: #7aba1e;
  --hover-green: #8eca38;
  --white: #fff;
  --black: #000;
  --input-bg: #f4f4f4;
  --grey-txt: #a7a7a7;
  --transparent: rgba(0, 0, 0, 0);
}

* {
  font-family: "Cairo", sans-serif;
}

/* Utilities */
.container-xxl {
  max-width: 1200px;
}
.py-10 {
  padding: 10px 0;
}

.vertical-divider {
  width: 2px;
  height: 13px;
  background: var(--white);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 739px;
  background: rgba(0, 0, 0, 0.5);
}

.lh-120 {
  line-height: 120%;
}

.lh-38 {
  line-height: 38px;
}

.fs-64 {
  font-size: 64px;
}

.fs-24 {
  font-size: 24px;
}

.btn-main {
  padding: 16px 134px;
  text-decoration: none;
  font-size: 32px;
}

.btn-green,
.btn-green:visited {
  background: var(--light-green);
  transition: background 0.2s linear;
  color: var(--white);
}
.btn-green:hover {
  background: var(--hover-green);
  transition: background 0.2s linear;
  color: var(--white);
}

/* Header */

/* Top bar */
#top-bar {
  background: var(--dark-green);
}

#top-bar a,
#top-bar a:visited {
  text-decoration: none;
  color: var(--white);
  transition: color 0.2s linear;
  font-size: 13px;
}

#top-bar a:hover {
  color: var(--hover-green);
  transition: color 0.2s linear;
}

#top-bar .phone-ico {
  width: 12px;
  height: 12px;
}

#top-bar .envelope-ico {
  width: 14px;
}
#top-bar .projektai-kalba svg {
  transition: stroke 0.2s linear;
  cursor: pointer;
}
#top-bar .projektai-kalba svg:hover .facebook-ico {
  stroke: var(--hover-green) !important;
  transition: stroke 0.2s linear;
}

#top-bar .lang.active {
  color: var(--hover-green);
}

/* Navigation */

#navigation {
  margin-top: 44px;
  max-width: 1200px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
#navigation .navbar-brand img {
  width: 96px;
}

#navigation .nav-link {
  font-weight: bold;
  line-height: 1.2em;
  font-size: 16px;
  letter-spacing: 5.5px;
  text-transform: uppercase;
  color: var(--white);
  transition: color 0.2s linear;
}

#navigation .nav-link:hover {
  color: var(--hover-green);
  transition: color 0.2s linear;
}

#navigation .nav-link.active {
  color: var(--hover-green);
}

#navigation .nav-link:last-child {
  padding-right: 0;
}

/* Navigation - Hamburger menu */
.navbar-light .navbar-toggler {
  border-color: transparent !important;
  color: var(--transparent);
}
.navbar-toggler[aria-expanded="true"] .ham-menu-line:after {
  top: 0;
  transform: rotate(45deg);
  transition: all 0.2s linear;
}
.navbar-toggler[aria-expanded="true"] .ham-menu-line:before {
  top: 0;
  transform: rotate(-45deg);
  transition: all 0.2s linear;
}
.navbar-toggler[aria-expanded="true"] .ham-menu-line {
  background: var(--transparent);
  transition: background 0.1s linear;
}
.ham-menu-line {
  height: 2px;
  width: 30px;
  background: var(--white);
  transition: all 0.2s linear;
}
.ham-menu-line:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  left: 0;
  top: -7px;
  background: var(--white);
  transition: all 0.2s linear;
}
.ham-menu-line:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  left: 0;
  top: 7px;
  background: var(--white);
  transition: all 0.2s linear;
}
.navigation .dropdown-toggle::after {
  display: none;
}

/* Hero section */

#hero {
  height: 739px;
}

#hero img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 739px;
}

#hero .hero-content {
  max-height: 739px;
}
/* Media queries */

@media (max-width: 1200px) {
  .fs-64 {
    font-size: 48px;
  }
  .fs-24 {
    font-size: 18px;
  }
  .lh-38 {
    line-height: 30px;
  }
}

@media (max-width: 992px) {
  #navigation {
    margin-top: 20px;
  }

  .fs-64 {
    font-size: 38px;
  }
  .fs-24 {
    font-size: 16px;
  }
  .lh-38 {
    line-height: 24px;
  }

  .overlay,
  #hero,
  #hero img {
    height: 639px;
  }

  #hero .btn-main {
    padding: 16px 94px;
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #navigation {
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
}

@media (max-width: 500px) {
  .top-bar-kontaktai {
    flex-direction: column;
    gap: 8px !important;
  }
  .top-bar-wraper {
    flex-direction: row !important;
  }
  .fs-64 {
    font-size: 28px;
  }
  .fs-24 {
    font-size: 14px;
  }
  .lh-38 {
    line-height: 18px;
  }
  .overlay,
  #hero,
  #hero img {
    height: calc(100dvh - 67px);
  }

  #hero .btn-main {
    padding: 12px 64px;
    font-size: 16px;
  }
}
